*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: fit-content;
    margin: auto auto;
    
}

input{
    width:500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-left: 10px    ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.result-container{
    height: 40px;
    width: 100%;
    background-color: rgb(212 237 218);
    margin-top: 10px;
    padding-left: 10px;
}

button{
    margin-top: 10px;
}